@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
   background-color: #F9F9F9;
   position: relative;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   width: 100vw;
   height: 100vh;
}

header {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    
 }
 
 header .search {
    display: flex;
    justify-content: center;
 }
 
 header .logo-menu img {
    margin-left: 32px;
 }

 header .notification {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin-right: 24px;
 }
 
 header .notification img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
 }
 
 main {
   display: grid;
   grid-template-columns: 260px 1fr;
}

aside {
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   align-items: flex-start;
   padding: 1.5rem;
   gap: 1.375rem;
}

.menu {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0;
}

.menu h1{
   margin-left: .625rem;
   cursor: pointer;
   color: #000000;
   font-size: 16px;
   font-weight: 700;
}

.menu p{
   margin-left: .625rem;
   cursor: pointer;
   color: #515151;
   font-size: 16px;
   font-weight: 400;
}

.playlist {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 16px;
   margin: 2rem;
}

.suggestion{
   align-items: center; 
   justify-items: center;
   padding: 16px;
}

.video-informations{
   display: grid;
    grid-template-columns: 60px 1fr;
}

h2 {
   font-size: .875rem;
   font-weight: 600;
   width: 12.5rem;
   margin-bottom: .3125rem;
   cursor: pointer;
}

.video-informations span {
   font-size: .75rem;
   font-weight: 400;
}

 .video img{
   width: 260px;
   align-items: center; 
   justify-items: center;   
}

.video-informations img {
   width: 42px;
   margin-top: 1rem;
   cursor: pointer;
}



